html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid: calc(3rem + 3vw) / auto auto auto;
    background-color: #595758;
}

nav {
    background-color: #ffeef2;
}

main {
    background-color: #ffc8fb;
}

footer {
    background-color: #ff92c2;
}

ul {
    list-style-type: none;
}

img,
picture,
video {
    max-height: 100%;
    max-width: 100%;
}

/* palette
 * 595758, ffeef2, ffe4f3, ffc8fb, ff92c2
 * */
