<!DOCTYPE html>
<html>
	<head>
		<title>This is my page title.</title>
		<link href="../static/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="pagebox">
			<div class="siteheader"></div>
			<div class="maincontent">
				<a href="index.html">Home</a>
				<a href="about.html">About</a>
				<a href="contact.html">Contact</a>
				<h1>About Page</h1>
				<p class="highlight">This is where I'll eventually write some info about me!</p>
			</div>
			<div class="sidefooter"></div>
		</div>
	</body>
	<html>
