<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Custom Bootstrap CSS -->
        <link href="../static/style.css" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Additoinal meta info defined in child templates -->
        {% block meta %}{% endblock %}

        <!-- Title must be defined in child templates -->
        {% block title required %}{% endblock %}

    </head>

    <body>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <header>

            <!-- Navigation bar -->
            <nav class="navbar">
                <div class="container-fluid">
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar" aria-controls="collapseNavbar" aria-expanded="false" aria-label="Toggle navigation">~/</button>
                    <div class="collapse navbar-collapse" id="collapseNavbar">
                        <ul class="navbar-nav">
                            {% for item in navigation %}
                            <li class="nav-item"><a class="nav-link" href={{ url_for(item) }}>{{ item }}</a></li>
                            {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        <!-- Content goes here -->
        <main class="container">{% block main %}{% endblock %}</main>

        <footer class="bg-white sticky-bottom">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contact Me
                </button>
                <ul class="dropdown-menu">
                    <!-- safe disables jinja autoescaping so html string can be rendered  -->
                    <div class="dropdown-item">{{ contactInfo | safe }}</div>
                </ul>
            </div>
        </footer>
    </body>
</html>
