<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Custom CSS -->
        <link href="../static/style.css" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Additoinal meta info defined in child templates -->
        <!-- {% block meta %}{% endblock %} -->

        <!-- Title must be defined in child templates -->
        {% block title required %}{% endblock %}

    </head>
    <body>

        <header>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Mount_Bachelor_closeup.jpg/1024px-Mount_Bachelor_closeup.jpg" width="auto" height="auto" alt="Mountains">
        </header>
        <!-- Navigation bar -->
        <nav>
            <ul>
                {% for item in navigation %}
                <li><a href={{ url_for(item) }}>{{ item }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <!-- Content goes here -->
        <main>{% block main %}{% endblock %}</main>

        <footer>
            <!-- safe is used here to disable auto escaping in jinja so that raw html string can be rendered -->
            {{ contactInfo | safe }}
        </footer>
    </body>
</html>
